{% extends 'base.html.twig' %}

{% block title %}List of publishing houses{% endblock %}

{% block body %}
    {% for type, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} flash-alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div id="deletion-success-alert" class="alert alert-success">
    </div>
    <div id="deletion-failure-alert" class="alert alert-danger">
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-primary" href="{{ path('publishing_house.create') }}">
                Add new publishing house
            </a>
        </div>
    </div>
    <table class="table table-striped" id="publishingHouseTable">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Year of establishment</td>
                <td style="text-align:center">Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for publishingHouse in publishingHouses%}
            <tr>
                <td>{{ publishingHouse.id }}</td>
                <td>{{ publishingHouse.name }}</td>
                <td>{{ publishingHouse.yearOfEstablishment }}</td>
                <td style="text-align:center">
                    <a class="btn btn-info edit-publishing-house" href="{{ path('publishing_house.edit',{id: publishingHouse.id}) }}">
                        Edit
                    </a>
                    <a class="btn btn-danger delete-publishing-house" data-id="{{ publishingHouse.id }}" href="#">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/publishing_house.js"></script>
{% endblock %}